{% extends "base_templates/base.html" %}

{% block main %}
<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light|Indie+Flower|Dosis:600|Quicksand|Karla|Architects+Daughter|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
<div class ="twtr"> #TWTR</div>
<div class="map"></div>
<div class="header"><span data-bind="text: cityName"></span></div>
<div class="tweets">

    <div class="row">

    	<!--    LEFT SIDE: Top 10 topic -->
        <div class="medium-5 columns top10">
            <div class = "section_title ">Hottest 10 Topics </div>

			<!--   10 topic with person icon-->
			<div class="" data-bind="foreach: trends">


				<a class="topic_title medium-12 hvr-float hvr-fade" href="#" data-bind='click: $parent.showTweets.bind($data, $data.query)'>
					<span data-bind="text: $data.name"> </span>
					<br>
					<div STYLE="text-decoration:none" class="population">
						<span data-bind="text: $data.tweet_volume"> </span>
					</div>
					<div data-bind="foreach: new Array($data.tweet_volume_scaled)">
						<div STYLE="text-decoration:none" class="fa fa-male population" > </div>
					</div>
					
				</a>



			</div>
        </div>

                       

		<!--  RIGHT SIDE: tweets  -->
		<div>
		    <div class="medium-7 columns tsection">
	           <div class="section_title">Tweets Section</div>       
	       </div>

		    <div class="tweetSample" data-bind="foreach: happyTweets">
				<div class="tweet">
					<span data-bind="text: $data.text"> </span>
				</div>
				<br>
			</div>
			<div class="tweetSample" data-bind="foreach: sadTweets">
				<div class="tweet">
					<span data-bind="text: $data.text"> </span>
				</div>
				<br>
			</div>
		</div>

	</div>    


</div>




{% endblock %}

